*{
    margin:0;
    padding:0;
}

.current{
    background-color: blue !important;
}

.header{
    border:2px solid black;
    padding-top:30px;
    padding-bottom:30px;
    background-color: orange;
}

#image{
    margin-top:15px;
    margin-left:80px;
}